@page "/blog"

<div class="articles">
    <div class="article">
        <p class="article-name">Xamarin, Why & Why Not</p>
        <p class="article-description">Some light on Xamarin through the lense of frontend perspective in the space of React Native and Flutter...</p>
        <a href="/blog/xamarin-why-and-why-not" class="readmore">Read more</a>
    </div>
</div>