<div class="nav-container">
    <p class="header">Ahmad, Shafiq</p>
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                Root
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="blog">
                Blog
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" target="_blank" href="https://github.com/ahmad2smile/">
                GitHub
            </NavLink>
        </li>
    </ul>
</div>
