@page "/blog/xamarin-why-and-why-not"

<div class="article-container">
    <h1 class="heading">Xamarin Why & Why Not</h1>
    <div class="article-detail">
        <p>
            Some light on Xamarin through the lense of frontend perspective in the space of React Native and Flutter.
        </p>
        <p>
            Comming Soon...
        </p>
    </div>
</div>